.idea
build
.gradle
out
venv

testresources/outbound
-testresources/outbound/.gitkeep
testresources/inbound
-testresources/inbound/.gitkeep
testresources/logs
-testresources/logs/.gitkeep

__pycache__/
